.materia {
    width: 220px;
    height: 140px;
    border-radius: 16px;
    color: white;
    padding: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.aprobada {
    background-color: #E6748E;
}

.desbloqueada {
    background-color: #C6D7E7;
}

.bloqueada {
    background-color: #D1ACCE;
}