* {
    font-family: "Nunito", sans-serif;
}

.materia {
    width: 140px;
    min-height: 20px;
    height: auto;
    border-radius: 12px;
    color: white;
    padding: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.materia h3 {
    text-align: center;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0;
    overflow-wrap: break-word;
}

.info-materia {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 0.8rem;
    font-weight: 400;
}

.materia:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.12);
}

.aprobada {
    background-color: #F3AAB5;
}

.desbloqueada {
    background-color: #C6D7E7;
}


.bloqueada {
    background-color: #D1ACCE;
}

.repetir {
    background-color: #9DACC9;
}

#malla {
    display: flex;
    gap: 5px;
    overflow-x: auto;
    padding: 0px;
    align-items: flex-start;
}


.semestre {
    min-width: 162px;
    align-self: flex-start;
}


.semestre h2 {
    text-align: center;
    margin-bottom: 1px;
    font-size: 1.1rem;
    font-weight: 600;
    color:#E6748E;
}

.promedio-semestre {
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 0.9rem;
    font-weight: 600;
    color:#E6748E;
}

.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.encabezado h1 {
    font-size: 2rem;
    font-weight: 750;
    color: #E6748E;
}

.promedio-general {
    margin-left: 15px;
    font-weight: 750;
    font-size: 1.8rem;
}

.oculto{
    display:none !important;
}


#modal{
    position:fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index: 1000;
}

.contenido-modal{
    width: 390px;
    height: 180px;
    background: white;    

    border: 2px solid #E6748E;
    border-radius: 30px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);

}

.cerrar{
    position:absolute;
    top:15px;
    right:15px;
    border:none;
    background:none;
    font-size: 1rem;
    font-weight: 750;
    color: #9EB2D1;
    cursor:pointer;
}

#nombreMateria {

    color: #9EB2D1;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 28px;
}

#notaInput {

    width: 160px;
    height: 25px;
    border-radius: 20px;
    border: 2px solid #9EB2D1;
    background: transparent;
    text-align: center;
    font-size: 1rem;
    outline: none;
}

.botones-modal {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 10px;
}

.botones-modal button {
    border: none;
    background: transparent;
    color: #E6748E;
    font-size: 1.2rem;
    font-weight: 750;
    cursor: pointer;
}

.animar-modal {
    animation: aparecerModal 0.45s cubic-bezier(0.22,1,0.36,1);
}

@keyframes aparecerModal {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}


.barra-progreso{
    width: 100%;
    height: 12px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
}


#barra{
    height: 100%;
    width: 0%;
    background-color: #E6748E;
    transition: width 0.5s;
}

.contenedor-malla{
    position: relative;
}


.progreso-container{
    width: 300px;
    margin-left: auto;
    margin-right: 25px;
    margin-top: -180px;
    position: relative;
    z-index: 2;
    color: #E6748E;
    font-weight: 500;
}

.animacion-aprobada {
    animation: aprobar 0.6s ease;
}


@keyframes aprobar {

    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.12);
    }

    100% {
        transform: scale(1);
    }

}


.tarjeta-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}


.materia:hover .tarjeta-inner {
    transform: rotateY(180deg);
}


.frente,
.atras {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
}


.frente {
    position: relative;
    z-index: 2;
}


.atras {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 0px;
    overflow-wrap: break-word;
    font-size: 0.75rem;
    font-weight: 700;
}


.atras h3,
.atras p {
    margin: 0px 0;
}

/* TO-DO LIST */

.zona-tareas{
    display:grid;
    grid-template-columns: 30% 60%;
    gap:10%;
    margin:5px;
    color:#E6748E;

}



.crear-tarea{
    align-items:center;
    display:flex;
    flex-direction:column;
}

.lista-tareas{
    align-items:stretch;
}



.crear-tarea input,
.crear-tarea select{
    width:300px;
    margin:6px;
    border: 2px solid #9EB2D1;
    border-radius: 20px;
    background: transparent;
    font-size: 1rem;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
}



#listaTareas{
    align-items:right;
    padding-left: 0px;
    border-radius: 20px;
    width:100%;
}

#agregarTarea{
    margin-top: 2px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
    background-color: #EDECDA;
}


.tarea{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:center;
    width:100%;
    padding:5px 12px;
    margin-bottom:10px;
    border-radius:15px;
    box-sizing:border-box;
    color:white;
}

.nombre-tarea {
    text-align:center;
    font-weight:bold;
}

.fecha-tarea,
.prioridad-tarea{
    text-align:center;
}

.tarea h3{
    margin:0;
}


.tarea p{
    margin:0;
}


.botones-tarea{
    grid-column:1 / 4;
    display:flex;
    justify-content:center;
    gap:15px;
    margin-top:5px;
    font-size:0.7rem;
}

.botones-tarea button{
    background-color:#EDECDA;
    border:none;
    border-radius:10px;
    padding:5px 15px;
    cursor:pointer;
}

.tarea.alta{
    background-color:#9DACC9;
}


.tarea.media{
    background-color:#F3AAB5;
}


.tarea.baja{
    background-color:#C6D7E7;
}